*
    margin: 0
    padding: 0
    box-sizing: border-box
html
    scroll-behavior: smooth

    body
        font-family: 'Open Sans', sans-serif
        min-width: 300px
        .wrap
            max-width: 1920px
            margin: 0 auto
